@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: #030712; /* gray-950 */
}

body {
  background-color: #030712; /* gray-950 */
  color: #f3f4f6; /* gray-100 */
  min-height: 100vh;
}
